*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
/* Font css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html{
  font-family: "Roboto" , Arial, sans-serif;
  overflow: scroll;
}

a, a:visited{
  text-decoration: none;
  color: #007185;
}

a:hover{
  color: #B12704;
  text-decoration: underline;
}

/* ---------------------------- Header ------------------------ */

#header{
  height:99px;
  width:100%;
  background-color: #232f3e;
  /* padding: 0 10px; */
}

/* ---------------------------- Navbar ------------------------- */

/*     main-nav - The first black navbar */

.main-nav{
  height:60px;
  width:100%;
  background-color: #131921;
  display:flex;
  align-items: center;
}
.nav--item:hover{
  border:1px solid #ffff;
}

.nav--item{
  /* padding:  13px 6px 10px 6px; */
  padding:6px;
  border:1px solid transparent;
}

 a+.nav--item ,  a:hover+.nav--item  {
  text-decoration: none;
}

/* main-nav : left area */

.main-nav--left{
  display: flex;
  align-items: center;
}

.logo__img{
  height:30px;
  width:97px;
  background: url("/images/nav-sprite.png") -10px -51px;
}

.deliverTo{
  display:flex;
  margin-left:2px;
}

.deliverTo__img{
  background: url("/images/nav-sprite.png") -71px -378px;
  width:15px;
  margin-top: 8px;
  margin-right:3px;
}

.deliverTo--text__p1{
  font-size: 12px;
  color:#CCCC;
}
.deliverTo--text__p2{
  font-size: 14px;
  font-weight: 700;
  color:#FFFF;
}

/* main-nav : center area */

.main-nav--center{
  display:flex;
}

#searchDepartment{
  appearance: none;
  height:40px;
  border-radius: 4px;
  background-color: #f3f3f3;
  border: 1 px solid #f3f3f3;
  border-left: none;
  padding: 0 10px;
  outline: none;
}
.main-nav--center.nav--item:hover{
  border-color: transparent;
}

/*   Secondary-nav */

.secondary-nav{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height:39px;
  width:100%;
  padding:0 12px;
}

.secondary-nav--left{
  display: flex;  
  align-items: center;
  min-width: 770px;
}

.secondary-nav--list{
  display: flex;  
  list-style: none;
  align-items: center;
}

.secondary-nav a{
  color: #ffff;
  text-decoration: none;
}

.secondary-nav--right{
  min-width:253px;
}

#main{
  min-width: 1000px;
  max-width: 1500px;
  height:100%;
  width:100%;
  padding: 0 20px;
  margin:auto;
}

.bread-crumbs ul{
  margin: 8px 0;
  display: flex;
  list-style: none;
}

.bread-crumbs ul li{
 margin: 3px;
}
.bread-crumbs li a{
  color: #000000;
  font-size: 12px;
}

.bread-crumbs ul .li--divider{
  font-size: 11px;
  margin-top:5px;
}

.grid-container {
  height:100vh;
  width:100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 18px;
  grid-template-areas:
  "imageArea  productInfo productInfo productInfo buyArea"
  "imageArea  productInfo productInfo productInfo buyArea"
  "imageArea  productInfo productInfo productInfo buyArea"
  "imageArea  productInfo productInfo productInfo buyArea"
  "imageArea  productInfo productInfo productInfo buyArea";
    margin-top:20px;
}

.flex-container{
  width:100%;
  display:flex;
}
.productInfo { 
  width:40%;
  grid-area: productInfo;
  padding:0 22px;
 }

.buyArea { 
  grid-area: buyArea; 
  /* min-width: 244px; */
  width:244px;
  /* width:20%; */
}

/* ----------------  Product Image Area  ----------------- */

.imageArea{
  width:45%;
  position: relative;
  /* width:640px; */

}

.imageArea input[name='input_thumb'] 
{
	display: none;	/* This makes the radio button to not be visable */
}

/* Styling the thumbnail image */
.thumbnail__img
{
  border:1px solid black;
  height:42px;
  width:42px;
  margin-bottom: 8px;
  cursor: pointer;
	/* padding:5px; */
	display:flex;	
}

.thumbnail__img:hover{
  box-shadow: 0 0 3px 2px rgba(228,121,17,0.5);
  border-color: rgb(231,118,0);
}

.big__img{
  position: absolute;
  top:0;
  left:46px;
  width:100%;
  max-width:600px;
  max-height:610px;
}

.imageArea input[name='input_thumb']:checked+label{
  box-shadow: 0 0 3px 2px rgba(228,121,17,0.5);
  border-color: rgb(231,118,0);
}

.imageArea input[name='input_thumb']:checked+label+img {
  z-index: 100;
}

.imageArea input[name='input_thumb']:hover+label+img {
  z-index: 100;
}

.background{
  position: absolute;
  top:0;
  left:48px;
  background-color: aqua;
  width:100%;
}

/* --------------------------------- Product Info --------------------------------- */

/* Product Info Title */

.productInfo--title{
  font-size: 14px;
  border-bottom:1px solid #D5D9D9;
}

.productInfo--title h1{
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

.productInfo--title--rating{
  display: flex;
  align-items: center;
}
.title--stars{
  background: url(/images/starts.png) -84px -28px;
  display: inline-block;
  height: 16px;
  width:80px;
}

.productInfo--title--rating a{
  margin:6px;
}

.productInfo--title>h1, 
.productInfo--title>a, 
.productInfo--title>p, 
.productInfo--title>span{
  margin-bottom:6px;
}

.amazonChoice{
  display:inline-flex;
}
.amazonChoice span{
  font-size: 12px;
}

.amazonChoice .amazon{
  background-color:  #232F3E;
  color:#fff;
  padding:4px 4px 0px 8px;
}
.amazonChoice .choice{
  background-color:  #232F3E;
  color:  #F69931;
  padding:4px;
}

.amazonChoice .triangle{
  height:0px;
  width:0px;
  border-right: 10px solid transparent;
  border-top: 22px solid;
  color:#232F3E;
  background-color: none;
}
.amazonChoice__link{
  font-size:12px;
}

/* Product Info Price */

/* --------------------------- Buy Area --------------------- */


.buyArea--info{
  border-radius:8px;
  padding:14px 18px;
  border:1px solid #D5D9D9;
}

.price{
  font-size: 18px;
  color:#B12704;
}

.fees{
  color:#565959;
  line-height: 20px;
}

.details{
  display: block;
}
.details--ico{
  display:inline;
  background: url("/images/McBZv0ZvnbehkIx.png") -90px -5px;
  width:10px;
  height:5px;
  opacity: 0.6;
}
.arrives{
  padding:12px 0;
  font-size: 14px;
}
.inStock{
  color:#007600;
  font-size: 18px;
}
