*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
/* Font css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html{
  font-family: "Roboto" , Arial, sans-serif;
  overflow: scroll;
}

a, a:visited{
  text-decoration: none;
  color: #007185;
}

a:hover{
  color: #B12704;
  text-decoration: underline;
}

.bottom-border{
  padding-bottom: 18px;
  border-bottom:1px solid #D5D9D9;
}

/* ---------------------------- Header ------------------------ */

#header{
  height:99px;
  width:100%;
  background-color: #232f3e;
  /* padding: 0 10px; */
}

#header a{
  color:#ffff;
  text-decoration: none;
}

/* ---------------------------- Navbar ------------------------- */

/* ------main-nav - The first black navbar----- */

.main-nav{
  height:60px;
  width:100%;
  background-color: #131921;
  display:flex;
  align-items: center;
  justify-content: space-between;
}
.nav--item:hover{
  border:1px solid #ffff;
}

.nav--item{
  /* padding:  13px 6px 10px 6px; */
  padding:6px;
  border:1px solid transparent;
}

 a+.nav--item ,  a:hover+.nav--item  {
  text-decoration: none;
}

/* main-nav : left area */

.main-nav--left{
  display: flex;
  align-items: center;
  width:200px;
}

.logo__img{
  height:30px;
  width:97px;
  background: url("/images/nav-sprite.png") -10px -51px;
}

.deliverTo{
  display:flex;
  margin-left:2px;
}

.deliverTo__img{
  background: url("/images/nav-sprite.png") -71px -378px;
  width:15px;
  margin-top: 8px;
  margin-right:3px;
}

.deliverTo--text__p1{
  font-size: 12px;
  color:#CCCC;
}
.deliverTo--text__p2{
  font-size: 14px;
  font-weight: 700;
  color:#FFFF;
}

/* main-nav : center area */

.main-nav--center{
  flex:auto;
  display:flex;
}

#searchDepartment{
  position: relative;
  /* appearance: none; */
  height:40px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #f3f3f3;
  border:none;
  border-left: none;
  padding: 0 10px;
  outline: none;
  cursor: pointer;
}
#searchDepartment:hover{
  opacity: 0.8;
}

.main-nav--center.nav--item:hover{
  border-color: transparent;
}


.search{
  all:unset; /*  Removes all styling */
  background-color:#febd69 ;
  border-color: #febd69 ;
  height:40px;
  width:45px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  outline: none;
  cursor: pointer;
}
.search-ico{
  position:absolute;
  top:10px;
  left:10px;
  display:inline-block;
  height:21px;
  width:21px;
  background: url("/images/nav-sprite.png");
  background-position: -10px -290px;  
  cursor: pointer;

}
.search:hover
{
  background-color:#f08804;
}

.rightColl{
  position: relative;
}

.centerColl{
  height:40px;
  width:100%;
  border:none;
  outline: none;
  padding:5px;
}

/* main-nav : right area */

.main-nav--right{
  justify-self:self-start;
  display:flex;
  align-items: center;
  width:350px;
}

.us-flag{
  background: url("/images/flags.png");
  background-position: 0 -130px;
  width:24px;
  height:18px;
  border: none;
  cursor: pointer;
}

.trngl-dwn{
  display: inline-block;
  height: 4px;
  cursor: pointer;
  border-bottom-color: rgba(0, 0, 0, 0);
  border-bottom-style: solid;
  border-bottom-width: 0px;
  border-left-color: rgba(0, 0, 0, 0);
  border-left-style: solid;
  border-left-width: 4px;
  border-right-color: rgba(153, 74, 74, 0);
  border-right-style: solid;
  border-right-width: 4px;
  border-top-color: rgb(167, 172, 178);
  border-top-style: solid;
  border-top-width: 4px;
  margin-bottom: 6px;
}

.nav--item--smlText{
  font-size: 12px;
}
.nav--item--mdText{
  font-size: 14px;
  font-weight: 700;
}

.cart{
  position: relative;
}
.numItems{
  color: #f08804;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  left:23px;
  top:0;
}

.cart-ico{
  background: url("/images/nav-sprite.png");
  background-position: -10px -340px;
  height:26px;
  width: 38px;
  display: inline-block;
}

/*   -------------- Secondary-nav ------------*/

.secondary-nav{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height:39px;
  width:100%;
  padding:0 12px;
}

.secondary-nav--left{
  display: flex;  
  align-items: center;
  min-width: 770px;
}

.secondary-nav--list{
  display: flex;  
  list-style: none;
  align-items: center;
}

.secondary-nav a{
  color: #ffff;
  text-decoration: none;
}

.secondary-nav--right{
  min-width:253px;
}

.hamburger-ico{
  background: url("/images/nav-sprite.png");
  background-position: -172px -255px;
  height:14px;
  width:17px;
  display: inline-block;
}


#main{
  min-width: 1000px;
  max-width: 1500px;
  height:100%;
  width:100%;
  padding: 0 20px;
  margin:auto;
}

/* ----------------- Bread Crumbs---------------- */
.bread-crumbs ul{
  margin: 8px 0;
  display: flex;
  list-style: none;
}

.bread-crumbs ul li{
 margin: 3px;
}
.bread-crumbs li a{
  color: #000000;
  font-size: 12px;
}

.bread-crumbs ul .li--divider{
  font-size: 11px;
  margin-top:5px;
}

/* -------------------- Product Container ------------ */


.product-container{
  width:100%;
  height:110vh;
  display:flex;
  overflow: auto;
}

.productInfo { 
  width:40%;
  grid-area: productInfo;
  padding:0 22px;
 }

.buyArea { 
  grid-area: buyArea; 
  width:244px;
}

/* ----------------  Product Image Area  ----------------- */

.imageArea{
  /* width:45%; */
  flex:45%;
  position: relative;
  /* width:640px; */
  overflow: hidden;

}

.imageArea input[name='input_thumb'] 
{
	display: none;	/* This makes the radio button to not be visable */
}

/* Styling the thumbnail image */
.thumbnail__img
{
  border:1px solid black;
  height:42px;
  width:42px;
  margin-bottom: 8px;
  cursor: pointer;
	/* padding:5px; */
	display:flex;	
}

.thumbnail__img:hover{
  box-shadow: 0 0 3px 2px rgba(228,121,17,0.5);
  border-color: rgb(231,118,0);
}

.big__img{
  background-color: #ffff;
  background-size: 610px;
  position: absolute;
  top:0;
  left:-9000px;
  max-width:587px;
  max-height:610px;
}

.big__img::before{
  content:"before";
  position: absolute;
  background-color: coral;
  top:0;
  left:48px;
  height:610px;
  width:600px;
}
.imageArea input[name='input_thumb']:checked+label{
  box-shadow: 0 0 3px 2px rgba(228,121,17,0.5);
  border-color: rgb(231,118,0);
}

.imageArea input[name='input_thumb']:checked+label+img {
  z-index: 100;
  left:46px;
}

.imageArea input[name='input_thumb']:hover+label+img {
  z-index: 200;
  left:46px;
}

.background{
  position: absolute;
  top:0;
  left:48px;
  background-color: aqua;
  width:100%;
}

/* --------------------------------- Product Info --------------------------------- */

/* Product Info Title */

.productInfo--title{
  font-size: 14px;
  /* border-bottom:1px solid #D5D9D9; */
}

.productInfo--title h1{
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

.productInfo--title--rating{
  display: flex;
  align-items: center;
}
.title--stars{
  background: url(/images/starts.png) -84px -28px;
  display: inline-block;
  height: 16px;
  width:80px;
}

.productInfo--title--rating a{
  margin:6px;
}

.productInfo--title>h1, 
.productInfo--title>a, 
.productInfo--title>p, 
.productInfo--title>span{
  margin-bottom:6px;
}

.amazonChoice{
  display:inline-flex;
}
.amazonChoice span{
  font-size: 12px;
}

.amazonChoice .amazon{
  background-color:  #232F3E;
  color:#fff;
  padding:4px 4px 0px 8px;
}
.amazonChoice .choice{
  background-color:  #232F3E;
  color:  #F69931;
  padding:4px;
}

.amazonChoice .triangle{
  height:0px;
  width:0px;
  border-right: 10px solid transparent;
  border-top: 22px solid;
  color:#232F3E;
  background-color: none;
}
.amazonChoice__link{
  font-size:12px;
}

/* Product Info About */

.productInfo--about li{
  font-size: 14px;
  line-height: 20px;
}

.productInfo--about ul{
  margin:20px;
}
.about-title{

  font-size:16px;
  font-weight: 700;
  margin: 15px 6px;
}

/* --------------------------- Buy Area --------------------- */


.buyArea--info{
  border-radius:8px;
  padding:14px 18px;
  border:1px solid #D5D9D9;
}

.price{
  font-size: 18px;
  color:#B12704;
}

.fees{
  color:#565959;
  line-height: 20px;
}

.details{
  display: block;
}
.details--ico{
  display:inline;
  background: url("/images/McBZv0ZvnbehkIx.png") -90px -5px;
  width:10px;
  height:5px;
  opacity: 0.6;
}
.arrives{
  padding:12px 0;
  font-size: 14px;
}
.inStock{
  color:#007600;
  font-size: 18px;
}

/* -------------------------------Bought Together ----------------------------- */

.boughtTogether{
  height:300px;
}

/* ------------------------------ Related Items ------------------------------- */

.relatedItems{
  width:100%;
}

.relatedItems--title{
  height:100%;
  width:100%;
}

.carousel--title{
  display:flex;
  justify-content: space-between;
}

.carousel--title--left h2{
  font-size: 16px;
  color:#C60;
  font-weight: 700;
  line-height: 32px;
}

.carousel--title--right span{
  font-size:14px;
}
.sponsored>span{
  font-size: 11px;
  color:rgb(85,85,85);
}
.sponsored>svg{
  height:11px;
  width:11px;
  fill:#969696;
}

.itemCard{
  width:160px;
}

.itemCard--link{
  font-size:14px;
}

.itemCard--img{
  width:160px;
  height:160px;
}

.itemCard--price--prime{
  background: url("/images/prime2.png");
  background-position:  -154px -52px;
  height:12px;
  width:42px;
  display:inline-block;
}

.productInfo--title--rating a {
  margin:0px;
}

.carousel--row{
  display:flex;
  align-items: center;
  width:100%;
}

.carousel--btn{
  width:34px;
  height:37px;
  background-color: #e7e9ec;
  border:1px solid #A2A6AC;
  border-color: #ADB1B8 #A2A6AC #8D9096;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel--btn:hover{
  background-color: #E0E3E9;
}

.left--ico{
  height:15px;
  width:11px;
  background-image: url("/images/McBZv0ZvnbehkIx.png");
  background-position: -123px -7px;
}

.carousel--btn--left,
.carousel--btn--right
{
  width:35px;
}
.carousel--container{
  display:flex;
  width:100%;
  padding:0 27px;
  overflow: hidden;
}

.carousel--items{
  list-style: none;
  /* display:flex; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
  
   
}
.right--ico{
  height:15px;
  width:11px;
  background-image: url("/images/McBZv0ZvnbehkIx.png");
  background-position: -105px -7px;
}



/* -------------- Related Items Images----------- */

.related1 .itemCard--img{
  background: url("/images/related1.jpg");
}
.related2 .itemCard--img{
  background: url("/images/related2.jpg");
}
.related3 .itemCard--img{
  background: url("/images/related3.jpg");
}
.related4 .itemCard--img{
  background: url("/images/related4.jpg");
}
.related5 .itemCard--img{
  background: url("/images/related5.jpg");
}
.related6 .itemCard--img{
  background: url("/images/related6.jpg");
}
.related7 .itemCard--img{
  background: url("/images/related7.jpg");
}
.related8 .itemCard--img{
  background: url("/images/related8.jpg");
}
